@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Bowler

<h3>Edit Bowler</h3>

<form method="post">

    <div class="form-group">
        <input type="hidden" asp-for="BowlerID" disabled />
    </div>


    <div class="form-group">
        <label asp-for="BowlerFirstName">First Name</label>
        <input asp-for="BowlerFirstName" type="text" value="@Model.BowlerFirstName" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerMiddleInit">Middle Initial</label>
        <input asp-for="BowlerMiddleInit" type="text" value="@Model.BowlerMiddleInit" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerLastName">Last Name</label>
        <input asp-for="BowlerLastName" type="text" value="@Model.BowlerLastName" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerAddress">Address</label>
        <input asp-for="BowlerAddress" type="text" value="@Model.BowlerAddress" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerCity">City</label>
        <input asp-for="BowlerCity" type="text" value="@Model.BowlerCity" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerState">State</label>
        <input asp-for="BowlerState" type="text" value="@Model.BowlerState" />
    </div>


    <div class="form-group">
        <label asp-for="BowlerZip">Zipcode</label>
        <input asp-for="BowlerZip" type="text" value="@Model.BowlerZip" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerPhoneNumber">Phone Number</label>
        <input asp-for="BowlerPhoneNumber" type="text" value="@Model.BowlerPhoneNumber" />
    </div>

    <div class="form-group">
        <label asp-for="Team">Team</label>
        <select asp-for="TeamID">
            @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

    <div asp-validation-summary="All"></div>


</form>


